@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto';
    font-size: 18px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 64px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 32px 64px 64px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.hero-main {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

button.sign-up {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 8px 36px;
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 10px;
}

.hero-image {
    box-sizing: border-box;
    width: 200px;
    flex: 1;
    background-color: grey;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
}

.info-title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    padding-top: 32px; 
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 32px 64px 64px;
}

.info-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.info-ill {
    display: flex;
    flex: 1;
    aspect-ratio: 1;
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.info-text {
    width: 200px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    gap: 8px;
    padding: 64px 150px;
}

q {
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
}

.quoter {
    display: flex;
    justify-content: end;
    font-weight: 900;
}

.action {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    margin: 64px;
    padding: 32px 64px;
}

.action-writing {
 display: flex;
 flex-direction: column;
 gap: 8px;
}

.action-main {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.action-text {
    color: #E5E7EB;
}

.action button.sign-up {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    border: 3px solid #F9FAF8;
}